<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>
	</script>
    
    <script>
    function showPinButton(button, rate, img){
    	document.getElementById(button).style.visibility='visible';
    	document.getElementById(rate).style.visibility='visible';
    	img.style.opacity='0.8';
	}
	
	function hidePinButton(button, rate, img){
		document.getElementById(button).style.visibility='hidden';
		document.getElementById(rate).style.visibility='hidden';
		img.style.opacity='1.0';
	}
	
	function submitRating(formID){
		$(formID).submit();
	}
	
	function pin(pinID){
		console.log("pinning");
		document.getElementById("toBePinned").value =pinID;
		document.getElementById("pinPopup").style.visibility='visible';
	}
	
	function closeWindow(){
		document.getElementById("pinPopup").style.visibility='hidden';
	}
	
	

    </script>
</head>

<div id="toolbar">
Pennterest
<span><form id="search" method="get">
	<input id="textInput" type="text" size="21" maxlength="120">
	<input id="searchButton" type="submit" value="search" class="tfbutton">
</form></span>
<span id="home">Home</span>
<span id="profile">Profile</span>
</div>
<table id="feed">
<tr>
<% for(var i = 0; i < pins.length; i++) { %>
      <% if(i % 4 == 0 && i != 0) { %> </tr><tr> <% } %>
      <td>
      <div class="pinDisplay">
      <div onmouseover="showPinButton('<%="button" + i%>', '<%="rate" + i%>', this)" 
      onmouseout="hidePinButton('<%="button" + i%>','<%="rate" + i%>', this)">
      <img id="<%="img" + i%>" src ="<%= pins[i].CONTENTPATH %>"></br>
      <div class='rate' id="<%="rate" + i%>">
      <span style="line-height:40px; vertical-align:center">Rate</span>
      <%var formID = "ratingForm" + i%>
      <form id=<%=formID%> class="ratingButtons" action="/updateRating" method="POST" target="hidden-iframe">
	  <input type="radio" name="rating" value="1" onclick="submitRating(<%formID%>)">
	  <input type="radio" name="rating" value="2" onclick="submitRating(<%=formID%>)">
	  <input type="radio" name="rating" value="3" onclick="submitRating(<%=formID%>)">
	  <input type="radio" name="rating" value="4" onclick="submitRating(<%=formID%>)">
	  <input type="radio" name="rating" value="5" onclick="submitRating(<%=formID%>)">
	  <input type="text" name="userID" value="<%=userID %>" style="display:none">
	  <input type="text" name="pinID" value="<%=pins[i].PINID %>" style="display:none">
	  </form>
      </div>
      <button class='pinButton' id="<%="button" + i%>" type="button" onclick="pin(<%=pins[i].PINID%>)")">Pin It</button>
      <div class='description'>
      <% if(pins[i].CAPTION != null) { %> <%= pins[i].CAPTION %> <% } %>
      <div class='stars'>
      <% var rating = pins[i].RATING;
         if(rating > 5) { rating = 5; } 
      	for (var j = 0; j < rating; j++) { %>
      		<span id='<%="star" + j + i %>' class="star"></span>
      <% } %> 
      </div>
      <div class="tags">
      #<%= pins[i].TAGS %>
      </div>
      </div>
      <span class="userName"><%= pins[i].FIRSTNAME %></span>
      <span class="boardName"><%= pins[i].BOARDNAME %></span>
      </div>
      </td>
    <% } %>
</tr>
</table>
<div id="pinPopup" style="visibility:hidden">
<form id="pinForm" action="/addPin" method="POST" target="hidden-iframe">
Choose Board <br/>
<select name="boardName" form="pinForm">
<% for(var i = 0; i < boards.length; i++) {
 	var bname = boards[i].BOARDNAME; %>
	<option value="<%=bname%>"><%=bname%></option>
<% } %>
</select><br/>
Description <br/>
<input type="text" name="description"><br/>
<input id="toBePinned" type="text" name="pinID" style="display:none">
<input type="text" name="userID" value="<%=userID%>" style="display:none">
<br/>
<br/>
<button id="pinCancel" type="button" onclick="closeWindow()">Cancel</button>
<input id="pinSubmit" type="submit" value="Pin" onclick="closeWindow()">
</form>
</div>
<iframe id="hidden-iframe"></iframe>



